Schema/DMP_Rheumatoide_Arthritis_software_ssu.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2021 rel. 3 sp1 (x64) (http://www.altova.com) von Kassenärztliche Bundesvereinigung (Kassenärztliche Bundesvereinigung) bearbeitet -->
<xs:schema xmlns:kbv="urn::hl7-org/kbv" xmlns="urn::sciphox-org/sciphox" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified" version="1.00">
	<xs:import namespace="urn::hl7-org/kbv" schemaLocation="all_kbv_typelib.xsd"/>
	<!-- ****************************** clinical_document_header ****************************** -->
	<xs:redefine schemaLocation="software_ssu_typelib.xsd">
		<!-- ******************** software-id-typ **********************-->
		<xs:complexType name="software-id-typ">
			<xs:complexContent>
				<xs:restriction base="software-id-typ">
					<xs:attribute name="EX" type="kbv-software-pruefnummer-typ" use="required"/>
					<xs:attribute name="RT" type="xs:string" use="required" fixed="KBV-Prüfnummer"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<!-- ******************** SoftwareName_xsd_typ **********************-->
		<xs:complexType name="SoftwareName_xsd_typ">
			<xs:complexContent>
				<xs:restriction base="SoftwareName_xsd_typ">
					<xs:attribute name="V" use="required">
						<xs:simpleType>
							<xs:restriction base="kbv:string_max_60_typ">
								<xs:enumeration value="XSD_ERA"/>
								<xs:enumeration value="XSD_ERA_A"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<!-- ******************** SoftwareName_xpm_typ **********************-->
		<xs:complexType name="SoftwareName_xpm_typ">
			<xs:complexContent>
				<xs:restriction base="SoftwareName_xpm_typ">
					<xs:attribute name="V" use="required">
						<xs:simpleType>
							<xs:restriction base="kbv:string_max_60_typ">
								<xs:enumeration value="XPM_ERA"/>
								<xs:enumeration value="XPM_ERA_A"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<!-- ******************** SoftwareVersion_xsd_typ **********************-->
		<xs:complexType name="SoftwareVersion_xsd_typ">
			<xs:complexContent>
				<xs:restriction base="SoftwareVersion_xsd_typ">
					<xs:attribute name="V" use="required">
						<xs:simpleType>
							<xs:restriction base="kbv:string_max_60_typ">
								<xs:enumeration value="1.00"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<!-- ******************** kbv-software-pruefnummer-typ **********************-->
	<xs:simpleType name="kbv-software-pruefnummer-typ">
		<xs:restriction base="kbv:string_max_60_typ">
			<xs:pattern value="[XYZV]/110/\d{2}(0[1-9]|1[012])/\d{2}/[A-Za-z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ****************************** ENDE: clinical_document_header ****************************** -->
</xs:schema>
