Schema/ParameterRA.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Mit XMLSpy v2021 rel. 3 sp1 (x64) (http://www.altova.com) von Kassenärztliche Bundesvereinigung (Kassenärztliche Bundesvereinigung) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn::sciphox-org/sciphox" targetNamespace="urn::sciphox-org/sciphox" elementFormDefault="qualified">
	<!-- Schema -->
	<xs:simpleType name="AdministrativeDaten">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Einschreibung wegen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnamneseundBefunddaten">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Körpergröße"/>
			<xs:enumeration value="Körpergewicht"/>
			<xs:enumeration value="Blutdruck systolisch"/>
			<xs:enumeration value="Blutdruck diastolisch"/>
			<xs:enumeration value="Raucher"/>
			<xs:enumeration value="Begleiterkrankungen"/>
			<xs:enumeration value="Aktuelle Krankheitsaktivität - DAS-28-Wert"/>
			<xs:enumeration value="Erkrankungsdauer der rheumatoiden Arthritis (zum Zeitpunkt der aktuellen Dokumentation)"/>
			<xs:enumeration value="Klinische Einschätzung des Osteoporoserisikos durchgeführt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedikamentoeseundsonstigeMassnahmen">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aktuelle Glukokortikoidtherapie wegen rheumatoider Arthritis"/>
			<xs:enumeration value="Aktuelle DMARD-Therapie"/>
			<xs:enumeration value="Regelmäßige körperliche Aktivität"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Schulung">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bereits vor Einschreibung in das DMP an einer Rheuma-Schulung teilgenommen"/>
			<xs:enumeration value="Rheuma-Schulung empfohlen (bei aktueller Dokumentation)"/>
			<xs:enumeration value="Rheuma-Schulung wahrgenommen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Behandlungsplanung">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Vom Patienten gewünschte Informationsangebote der Krankenkasse"/>
			<xs:enumeration value="Dokumentationsintervall"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
